<h1 class="mb-3">Stolpersteine</h1>

<form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="stolperstein" accept="image/*;capture=camera">
    <button type="submit">Hochladen</button>
</form>

<div class="bio" style="margin-top:5em;">
    {{#if data}}
        <h4>{{data}}</h4>
    {{/if}}
    <h4>{{name}}</h4>
    <h6>{{place}}</h6>
    <h6>{{date}}</h6>
    <h6>{{born}}</h6>
    <h6>{{deportation}}</h6>
    <h6>{{destiny}}</h6>
    <div>{{description}}</div>
    {{#if fotos}}
        {{#each fotos}}
            <img src="{{this.foto}}"/>
        {{/each}}
    {{/if}}
    <h6>{{url}}</h6>
</div>

{{!-- <a href="/api/members" class="btn btn-light mt-4">Visit API</a> --}}